<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>{{lst}}</h1>
<h3>{{ lst | join:" // " }}</h3>
<h3>{{ lst | last }}</h3>
<h3>{{ lst | length }}</h3>
<h3>{{ lst | linenumbers }}</h3>
<h3>{{ lst | random }}</h3>
<h3>{{ lst | slice:":2" }}</h3>
<h1>{{s}}</h1>
<h3>{{ s | slugify }}</h3>
<h3>{{ s | title }}</h3>
<h3>{{ s | lower }}</h3>
<h3>{{ s | upper }}</h3>
<h3>{{ s | wordcount }}</h3>
<h3>{{ s | addslashes}}</h3>
<h3>"{{ s | center:"15" }}"</h3>
<h3>{{ s | cut:" " }}</h3>


</body>
</html>